@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "main";
  src: url('https://222.place/assets/webfonts/Lato-Light.ttf') format('truetype');
  font-display: swap;
}

.mainfont {
  font-family: main;
}
.updated-dark .react-tweet-theme { 
  --tweet-body-font-size: 1rem; 

  @apply bg-neutral-100 text-neutral-900 hover:bg-neutral-200  my-0 max-h-[400px]

}


.custom-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #555;
  border-radius: 50%;
  outline: none;
  @apply transition-all duration-300
}

.custom-radio:checked {
  background-color: #555;
}



@layer base {
  :root {
    --tweet-body-font-size: .1rem;


    --accent-color: #4A90E2;
    /* Your accent color */

    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 34 4% 37%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 100 10% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 100%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}

.title {
  @apply text-3xl font-extrabold sm:text-4xl lg:text-5xl
}

.title2 {
  @apply text-2xl font-extrabold sm:text-3xl lg:text-4xl
}

.title3 {
  @apply text-2xl font-extrabold capitalize
}

.title4 {
  @apply text-lg capitalize
}


.undertitle {
  @apply opacity-80 text-xl lg:text-2xl leading-[1.6] text-[#3f414a]
}



.animate-slideIn {
  animation: slideIn 0.5s forwards;
}

.animate-slideOut {
  animation: slideOut 0.5s forwards;
}



.delayed-group-hover {
  transition: opacity 0.3s ease 0.5s;
  /* Adjust this value for your desired delay */
}

.group:hover .delayed-group-hover {
  opacity: 0.8;
  /* This is the target opacity on hover for the image */
}

@keyframes slamEffect {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.slam-effect {
  animation: slamEffect 0.5s ease-out forwards;
}


.disappear {

  display: inline-flex;
  visibility: visible;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: #000000;
  cursor: pointer;

}

@media (min-width: 768px) {
  .disappear {
    width: 0;
    display: none;
  }
}


@keyframes slideIn {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-enter {
  animation: slideIn 0.7s forwards;
}


.spotlight {
  /* Set the size of the element */
  width: 100vh;
  height: 100vh;

  /* Use a radial gradient for the spotlight effect */
  background: radial-gradient(circle at center,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 70%,
      /* rgba(255, 255, 255, 0.2) 50%,  */
      rgba(255, 255, 255, 0.2) 80%,
      /* rgba(255, 255, 255, 0.2) 0%, 
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0) 80% */
    );

  /* Center the content */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* Additional styles for the look */
  color: white;
  font-size: 2rem;
  /* Any additional styling you need for the content */
}

@keyframes floatToTopLeft {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-50px, -50px) rotate(20deg);
    /* Adding rotation for wobble effect */
  }

  50% {
    transform: translate(-40px, -90px) rotate(-20deg);
  }

  75% {
    transform: translate(-30px, -190px) rotate(20deg);
  }

  100% {
    transform: translate(-100px, -150px) rotate(-20deg);
    /* Final position with rotation */
  }
}

.animate-toTopLeft {
  animation: floatToTopLeft 2s forwards cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* 'forwards' keeps the element at the final state, cubic-bezier for wobbly effect */
}


@keyframes floatToTopLeft {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-50px, -50px) rotate(20deg);
    /* Adding rotation for wobble effect */
  }

  50% {
    transform: translate(-40px, -90px) rotate(-20deg);
  }

  75% {
    transform: translate(-30px, -190px) rotate(20deg);
  }

  100% {
    transform: translate(-100px, -150px) rotate(0deg);
    /* Final position with rotation */
  }
}

.animate-toDestination {
  animation: floatToTopLeft 4s forwards cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* 'forwards' keeps the element at the final state, cubic-bezier for wobbly effect */
}


.swipe-left {
  transform: translateX(-100%) scale(0.8);
  opacity: 0;
}

.swipe-right {
  transform: translateX(100%) scale(0.8);
  opacity: 0;
}

/* Adjust the duration and easing to your liking */
.transition-all {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.bottom-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.border-dotted-spaced-top {

  background: linear-gradient(to right,
      #525252 0%,
      /* start color */
      #525252 50%,
      /* end color for the dot (adjust this for dot width) */
      transparent 50%,
      /* start transparent (this creates the space) */
      transparent 100%
      /* end transparent */
    );
  background-repeat: repeat-x;
  background-position: top;
  background-size: 10px 1px;
  /* spacing between dots, border thickness */
  border-top: 2px solid transparent;
  /* adjust border thickness if needed */
}


.border-dotted-spaced {
  position: relative;
  border: 2px solid transparent;
}

.border-dotted-spaced::before,
.border-dotted-spaced::after {
  content: '';
  position: absolute;
  height: calc(100% - 4px);
  /* Adjust for the border size */
  width: calc(100% - 4px);
  /* Adjust for the border size */
  top: 2px;
  /* Half of border size */
  left: 2px;
  /* Half of border size */
  z-index: -1;
  background-repeat: repeat-x, repeat-y;
  background-position: top, left;
  background-size: 10px 2px, 2px 10px;
}

.border-dotted-spaced::before {
  background-image: linear-gradient(to right, #525252 0%, #525252 10%, transparent 10%, transparent 100%),
    linear-gradient(to bottom, #525252 0%, #525252 10%, transparent 10%, transparent 100%);
}

.border-dotted-spaced::after {
  background-image: linear-gradient(to right, #525252 0%, #525252 10%, transparent 10%, transparent 100%),
    linear-gradient(to bottom, #525252 0%, #525252 10%, transparent 10%, transparent 100%);
  transform: rotate(180deg);
  /* Flip the other set of dots */
}


.uicontainer {
  --uib-size: 20px;
  --uib-color: white;
  --uib-speed: 1.75s;
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);
}

.uicontainer::before,
.uicontainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--uib-color);
  animation: pulz var(--uib-speed) ease-in-out infinite;
  transform: scale(0);
  transition: background-color 0.3s ease;
}

.uicontainer::after {
  animation-delay: calc(var(--uib-speed) / -2);
}

@keyframes pulz {

  0%,
  100% {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 0.25;
  }
}

.sx-react-calendar-wrapper {
  width: 100%;
  height: 800px;
  max-height: 60vh;
}

.footer {
  padding-bottom: env(safe-area-inset-bottom);
}